.contenedor { 
  position: relative; 
  width: 24em; 
  height: 24em; 
  padding: 4em;
  margin: 16em auto 0;
} 

.contenedor button { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 16em; 
  height: 4em; 
  margin: -10em;
  border-radius: 10px;
  border: none;
} 

.btn1 { 
  transform: rotate(270deg) translate(12em) rotate(-270deg);
  background-color: crimson; 
  color: white;
  font-weight: bold;
  font-size: medium;
} 
.btn2 { 
  transform: rotate(0deg) translate(16em) rotate(0deg);
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  font-size: medium;
} 
.btn3 { 
  transform: rotate(60deg) translate(20em) rotate(-60deg); 
  background-color: orangered;
  color: white;
  font-weight: bold;
  font-size: medium;
} 
.btn4 { 
  transform: rotate(120deg) translate(20em) rotate(-120deg);
  background-color: navy; 
  color: white;
  font-weight: bold;
  font-size: medium;
} 
.btn5 { 
  transform: rotate(180deg) translate(16em) rotate(-180deg); 
  background-color: cyan;
  color: white;
  font-weight: bold;
  font-size: medium;
}