.contenedor { 
  position: relative; 
  width: 24em; 
  height: 24em; 
  padding: 4em;
  margin: 18em auto 0;
} 

.contenedor button { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 14em; 
  height: 4em; 
  margin: -10em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} 
